*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #A0BF8A;
}

p, span, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 2px 4px #535151; /*sombreado*/
  font-size: 1rem;
}

h1{
  font-family: 'Eb Garamond' serif;
  font-size: 3rem;
  color: black;
  text-shadow: 2px 2px 4px #3b3b3b; /*sombreado*/
}