header.container {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

header.container div.elipse-container {
  width: 90%;
  height: 250px;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

 }

/*_________________________________________*/
/*              ELIPSE LEFT                */
/*_________________________________________*/

header.container div.elipse-container div.elipse-left {
  max-width: 600px;
  height: 250px;
  display: flex;
  flex-flow: row;
  position: relative;
}

header.container div.elipse-container div.elipse-left div.circle-left-one{
  position: absolute;
  left: 0;
  bottom: 35px;
}

header.container div.elipse-container div.elipse-left div.circle-left-two{
  position: absolute;
  left: 50;
  top: 25px;
}

header.container div.elipse-container div.elipse-left div.circle-left-three{
  position: absolute;
  left: 140px;
  top: 35px;
}

/*_________________________________________*/
/*              ELIPSE RIGHT                */
/*_________________________________________*/

header.container div.elipse-container div.elipse-right {
  max-width: 600px;
  height: 250px;
  display: flex;
  flex-flow: row;
  position: absolute;
}

header.container div.elipse-container div.elipse-right div.circle-right-one{
  position: absolute;
  right: 350px;
  bottom: 20px;
}

header.container div.elipse-container div.elipse-right div.circle-right-two{
  position: absolute;
  right: 310px;
  top: 22px;
}

header.container div.elipse-container div.elipse-right div.circle-right-three{
  position: absolute;
  right: 190px;
  bottom: 0px;
}

header.container div.elipse-container div.elipse-right div.circle-right-four{
  position: absolute;
  right: 130px;
  bottom: 15px;
}

header.container div.information-container{
  width: 100%;
  padding-bottom: 5rem;
  margin-top: -2.5;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

header.container div.information-container div.information-left{
  display: flex;
  flex-direction: column;
  justify-content: left;

  max-width: 500px;
}

header.container div.information-container div.information-left div.information-text{
  max-width: 90%;

}

header.container div.information-container div.information-left div.information-text h3{
  color: #6f6f6f;
  font-size: max(17px, 1.6vw);
}



