/*_________________________*/
/*      ELIPSE LEFT        */
/*_________________________*/

@media(max-width:900px){

  header.container div.elipse-container div.elipse-left{
    display: none;
  }

  header.container div.elipse-container div.elipse-right div.circle-right-one{
    left: 240px;
    top: 40px;  
  }

  header.container div.elipse-container div.elipse-right div.circle-right-two{
    left: 190px;
    top: 10px;
  }

  header.container div.elipse-container div.elipse-right div.circle-right-three{
    left: 90px;
    top: 30px;
  }

  header.container div.elipse-container div.elipse-right div.circle-right-four{
    left: 40px;
    top: 10px;
  }
}

/*_________________________*/
/*  INFORMAÇÕES E FORM     */
/*_________________________*/

@media(max-width:1000px){
  header.container div.information-container{
    padding: 0 1rem;
  }
}

/*_________________________*/
/*  SECTION SOCIAL MEDIA   */
/*_________________________*/

@media(max-width:670px){
  main section.social-media div.contact a span{
    display: none;
  }

  main section.social-media div.contact a ion-icon{
    font-size: 3rem;

  }

}

/*________________________________________*/
/*             FOOTER                      */
/*_________________________________________*/

@media(max-width:415px){
  footer a{
    padding: 1rem 5rem;
  }

}